*{
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
}
/*Estilos barra de navegacion*/
.Nav{
	background-color: white;
	height: 8vh;
	width: 100%;
	display: flex;
}
.Nav-Menu{
	width: 100%;
	display: flex;
	list-style: none;
}
.Nav-Text{
	color: black;
	line-height: 8vh;
	margin-left: 3vw;
	padding: 1vh;
	text-decoration: none;
	font-size: 4vh;
	font-weight: 500;
	border-radius: 1vh;
}
.Nav-TextH:hover{
	background-color: #0A3278;
	color: white;
	transition: 0.4s;
}
.Logo{
	color: black;
	padding: 0px;
}
.Logo-GEO{
	font-weight: 900;
	margin-right: 0px;
}
.Logo-SER{
	color: black;
	font-weight: 300;
	margin-left: 0px;
}
.Nav-Button{
	background: none;
	border: none;
	color: white;
	font-size: 4vh;
	padding: 0px 2vh;
	line-height: 8vh;
	display: none;
}

/*-Fin-*/
.Container{
	width: 100%;
	height: 92vh;
	background-color: red;
}


#Nosotros{
	background-color: #0A3278;
	text-align: center;
}
.Cont-Img-N{
	height: 92vh;
	width: 85vw;
	background-color: #f7f8fc;
	position: relative;
	display: inline-block;
}
.Img-N{
	height: 92vh;
	width: 85vw;
}

.Button-N{
	color: #0A3278;
	position: absolute;
	top: 70%;
	left: 45%;
	font-size: 3vh;
	padding: 1vh;
	text-decoration: none;
	border-radius: 10%;
	border: solid #0A3278;
	background-color: #f7f8fc;
}
.Button-N:hover{
	color: #f7f8fc;
	background-color: #0A3278;
	transition: 0.5s;
}

@media (max-width: 768px){
	.Nav-Button{
		display: block;
		margin-right: 3vh;
		line-height: 6vh;
		transition: width 2s;
		color: black;
		font-size: 3vh;
	}
	.Nav{
		justify-content: space-between;
		height: 6vh;
	}
	.Nav-Text{
		line-height: auto;
		font-size: 2vh;
		font-weight: 600;
	}
	.Nav-TextH{
		margin-right: 3vh;
		color: white;
	}
	.Logo{
		line-height: 6vh;
	}
	.Logo-SER{
		font-weight: 400;
	}
	.Nav-Menu{
		text-align: right;
		position: absolute;
		flex-direction: column;
		background-color: #4B4B4B;
		visibility: collapse;
		top: 6vh;
		height: calc(40% - 6vh);
	}
	.Nav-TextH:hover{
		background: none;
		color: orange;
	}
	.Nav-Menu_Visible{
		visibility: visible;
	}
	/*Nosotros*/
	.Cont-Img-N{
	}
	.Img-N{
		display: none;
	}
	.Button-N{
		display: none;
	}
	.Titulo-N{
		padding: 0 30%;
		top: 10vh;
		position: absolute;
	}
}

#Productos{
	/*Vacio*/
}
#Noticias{
	/*Vacio*/
}
#Contacto{
	height: 100px;
	background-color: #808080;
}